body {
    background-color: green;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: gold;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

header {
    background-color: gold;
    padding: 20px;
    color: white;
    text-align: center;
}

footer {
    margin: 20px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

h2 {
    color: aqua;
}

h3 {
    color: aqua;
}

h5 {
    color: aqua;
    font-size: 20px;
}

h6 {
    color: aqua;
    font-size: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 8px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}